body {
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.error-message,
.error-stack {
  color: red;
  font-size: 2rem;
}

.dom-input {
  position: absolute;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: #ffffff;
  background-color: #485b6c;
  border: 1px solid #454545;
  outline: none;
  box-sizing: border-box;
  box-shadow: none;
}